{% extends "base.html" %}
{%block content%}
    <div class="gallery text-center">
        <h3 class="mt-4">Closet Care Buddy</h3>
        <h1>Outfit Inspiration</h1>
        <img class="media-container" src="{{ image }}" alt="Image" style="height: 20%;">
        <div class="mt-2 caption-card d-flex justify-content-center align-items-center">
            <div class="card text-center shadow" style="max-width: 200px;">
                <div class="card-body">
                    {{ prompt }}
                </div>
               
            </div>
        </div>
        <form method="post" action="{{ url_for('outfit_options') }}">
            <input id="captureBtn" type="submit" class="mt-2 btn btn-dark btn-lg btn-block" value="Outfit Inspo" name="click"/>
        </form>   

    </div>
{%endblock%}
